.header {
	display: flex;
	position: sticky;
	top: 0;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bg-header);
	padding: 1em;
	box-shadow: 0px 2px 10px -5px var(--shadow);
	z-index: 9;

	&__logo,
	&__cart {
		color: var(--color-font-primary);
	}

	sup {
		position: absolute;
		background-color: #ace6ec;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		text-align: center;
		margin-left: -8px;
	}
}
